.wrapper {
    padding: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 3px;
    background-color: hsl(216, 98%, 52%);
    color: ghostwhite;
    margin-bottom: 0.5rem;
}

.wrapper summary {
    cursor: pointer;
}

.controls {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.searchbox {
    padding: 0.2rem 0.3rem;
}

.sorttoggles {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.sortChip {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
}

.sortChipActive {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
    background-color: hsl(216, 98%, 45%);
}

.sortIcon {
    max-width: 1rem;
    aspect-ratio: 1;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1rem;
}

.numberWrapper {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: baseline;
    background-color: hsl(216, 98%, 45%);
    padding: 0.3rem
}